<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Se inyecta el head -->
    <%- include('../partials/head.ejs') %>
</head>

<body onload="getHomePage()">
    <!-- Se inyecta el nav -->
    <%- include('../partials/nav.ejs') %>
    
        <main>
            <!-- Se inyecta el search -->
            <%- include('../partials/search.ejs') %>

            <section class="py-5 pt-4">
                <div class="container px-4 px-lg-5 mt-5 z-1 justify-content-center">
                    <div id="products-container" class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                        <% products.forEach((item)=> { %>
                            <% 
                                thumbnail=item.thumbnail
                                name=item.name
                                price=item.price
                                stock=item.stock
                            %>
                                <div class="col mb-5">
                                    <div class="card h-100">
                                        <!-- Product image-->
                                        <img class="card-img-top" src="<%= thumbnail %>" alt="<%= name %>" />
                                        <!-- Product details-->
                                        <div class="card-body p-4">
                                            <div class="text-center">
                                                <!-- Product name-->
                                                <h5 class="fw-bolder product-name">
                                                    <%= name %>
                                                </h5>
                                                <!-- Product price-->
                                                <div class="text-muted">
                                                    <p><b><%= price %> €</b></p>
                                                    <p><b><%= stock %></b> <%= stock === 1 ? 'Unidad Restante' : 'Unidades Restantes' %></p>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <!-- Product actions-->
                                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                            <div class="text-center"><div class="btn btn-outline-dark mt-auto btn-add-cart"
                                                    onclick="addItemCart('<%= JSON.stringify(item) %>')">Añadir
                                                    Al Carrito</div></div>
                                        </div>
                                    </div>
                                </div>

                                <% }) %>
                    </div>
                </div>
            </section>
        </main>

        <!-- Se inyecta el footer -->
        <%- include('../partials/footer.ejs') %>
</body>

</html>